app/composer.lock
app/config/app_local.php
config.json
app/config/Migrations/schema-dump-default.lock
app/logs
app/tmp
app/vendor
app/webroot/theme/node_modules
.vscode
docker/run/
docker/docker-compose.override.yml